* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #e9e8e8; */
}
h4{
  background-color: #ffffff;
  padding: 20px 66px;;

  border-bottom: 1px solid rgba(58, 54, 54, 0.596);
  border-radius: 10px 10px 0px 0px;
}

.dltBtn{
  background-color: rgb(255, 0, 0);
}

/* Style the grid container */
.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* Three rows */
  grid-gap: 10px;
  padding: 20px;
}

/* Style the grid row */
.grid-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Five columns per row */
  grid-gap: 10px;
}

/* Style the grid items */
.grid-item {
  text-align: center;
}

/* Style the cards */
.card {
  /* background-color: #ffffff; */
  border: 1px solid #ddd;
  text-align: center;
  /* background-color: #ffffff; */
  border-radius: 10px;
  margin: 0px 30px;
}

/* style for section images */
section {
  padding: 2rem 0;
}

label {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted rgba(207, 188, 188, 0.925);
  border-radius: 20px;
  width: 14rem;
  height: 14rem;
  cursor: pointer;
  font-size: large;
}
label p{
  padding-top: 90px;
}

label span {
  font-weight: lighter;
  font-size: small;
  padding-top: 0.5rem;
}

input {
  display: none;
}

img {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.images {
  display: flex;
  /* display: inline-block; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}

.image {
  margin: 1rem 0.5rem;
  /* display: inline-block; */
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: 1px solid rgba(207, 188, 188, 0.925);
  border-radius: 10px;
  cursor: move;
  padding: 5px;
}

.image button {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border: none;
  color: white;
  background-color: lightcoral;
}

.image button:hover {
  background-color: red;
}

.image p {
  padding: 0 0.5rem;
  margin: 0;
}

.upload-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  width: 10rem;
  height: 3rem;
  color: white;
  background-color: green;
}

label:hover,
.upload-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.error {
  text-align: center;
}

.error span {
  color: red;
}

.griditemUI {
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  cursor: -webkit-grab;
}

.upload-container label{
  border-radius: 10px;
}

/* Style for selected images */
.selected {
  border: 2px solid red;
}



.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.image-wrapper label {
  display: none;
}

.image-wrapper:hover label {
  display: inline;
  max-height: 0px;
  border: none;
  border-radius: 10px;
  cursor: move;
  margin-left: -150px;
}
/* 
.selection-checkbox{
margin-left: 500px;
} */

/* .image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s; 
}

.image-wrapper label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.image-wrapper label input[type="checkbox"] {
  display: none;
}

.image-wrapper label::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image-wrapper:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
} */
